# python
*.pyc
**/__pycache__/
.pytest_cache/*
.pydevproject

# IDE
.vscode/*

# Pip
*.egg-info

# files
*.log
*.pkl
*.jpg
*.pcd

# exp
exp

# lsf
*.bsub

# running scripts
scripts_dev/*
visualization/*


# Sphinx documentation
docs/_build/
docs/build/
_build/
.doctrees/
